<!DOCTYPE html>
<html lang="en">
    {% load static %}
    {% load bootstrap4 %}
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="{% static 'jquery.js' %}"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> -->
        <title>{% block title %}My site{%endblock%}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
        <link rel="stylesheet" href="css/bootstrap.min.css" >
        <!-- Подключаем иконки -->
        <link rel="stylesheet" href="css/font-awesome.min.css" >
        <script src="{% static 'main.js' %}"></script>
    </head>

    <body>
        <a href="{% url 'main:login'%}?next={{request.path}}">Login</a>
        {% block content %}

            

        {% endblock %}
        <header>
            <nav class="navbar navbar-default">
               <div class="container-fluid">
                   <div class="navbar-header">
                       <a href="#" class="navbar-brand">LOGO</a>
                   </div>
                   <div>
                       <ul class="nav navbar-nav">
                           <li><a href="">Про навчально- реабілітаційний центр</a></li>
                    <li class="active"><a href="">Спеціальна школа-інтернат</a></li>
                    <li><a href="">Реабілітаційний центр</a></li>
                    <li><a href="">Дошкільний навчальний заклад</a></li>
                    <li><a href="">Спонсорство</a></li>
                    <li><a href="">Вакансії</a></li>
                    <li><a href="">Контакти</a></li>
                    <li><a href="">Укр</a></li>
                       </ul>
                   </div>
                   <div>
                       <ul class="nav navbar-nav">
                           <li><a href="">НАША МІСІЯ</a></li>
                    <li><a href="">ПІДХІД ДО НАВЧАННЯ</a></li>
                    <li><a href="">ВИКЛАДАЧІ</a></li>
                    <li><a href="">РЕАБІЛІТОЛОГИ</a></li>
                    <li><a href="">ВІДГУКИ</a></li>
                    <li><a href="">ДОКУМЕНТИ ЗАКЛАДУ</a></li>
                    <li><a href="">ПИТАННЯ - ВІДПОВІДІ</a></li>
                    <li><a href="">ОТРИМАТИ КОНСУЛЬТАЦІЮ</a></li>
                       </ul>
                   </div>
               </div>
           </nav>
        </header>
        <footer>
            <div class="container">
                <div class="d-flex justify-content-between">
                    <div class="footer-left">
                        <ul>
                            <li><strong>Документи центру</strong></li>
                            <li>Статут центру</li>
                            <li>Фінансова звітність</li>
                            <li>Ручний звіт про діяльність</li>
                            <li>Ліцензії та сертифікати</li>
                            <li>Матеріально-технічне забезпечення</li>
                            <li>Результати моніторингу якості освіти</li>
                        </ul>
                    </div>
                    <div class="footer-right">
                        <ul>
                            <li><strong>Співпраця</strong></li>
                            <li>Спонсорам</li>
                            <li>Обмін досвідом</li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </body>

</html>