<!DOCTYPE HTML>
<html>
 <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Главная</title>
     
    <!-- Подключаем Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" >
    <!-- Подключаем иконки -->
    <link rel="stylesheet" href="css/font-awesome.min.css" >     
 </head>
 <body>
        <header>
            <nav class="navbar navbar-default">
               <div class="container-fluid">
                   <div class="navbar-header">
                       <a href="#" class="navbar-brand">LOGO</a>
                   </div>
                   <div>
                       <ul class="nav navbar-nav">
                           <li><a href="">Про навчально- реабілітаційний центр</a></li>
                    <li class="active"><a href="">Спеціальна школа-інтернат</a></li>
                    <li><a href="">Реабілітаційний центр</a></li>
                    <li><a href="">Дошкільний навчальний заклад</a></li>
                    <li><a href="">Спонсорство</a></li>
                    <li><a href="">Вакансії</a></li>
                    <li><a href="">Контакти</a></li>
                    <li><a href="">Укр</a></li>
                       </ul>
                   </div>
                   <div>
                       <ul class="nav navbar-nav">
                           <li><a href="">НАША МІСІЯ</a></li>
                    <li><a href="">ПІДХІД ДО НАВЧАННЯ</a></li>
                    <li><a href="">ВИКЛАДАЧІ</a></li>
                    <li><a href="">РЕАБІЛІТОЛОГИ</a></li>
                    <li><a href="">ВІДГУКИ</a></li>
                    <li><a href="">ДОКУМЕНТИ ЗАКЛАДУ</a></li>
                    <li><a href="">ПИТАННЯ - ВІДПОВІДІ</a></li>
                    <li><a href="">ОТРИМАТИ КОНСУЛЬТАЦІЮ</a></li>
                       </ul>
                   </div>
               </div>
           </nav>
        </header>
              <main role="main">   
                    <!-- Main Container  -->
                     <section style="background: #FFD765;">
                       <div class="container">
                        <div class="row">                         
                         <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                             <h1>Готуємо особливих діток до дорослого життя </h1>
                             <p>Навчально-реабілітаційний центр №17 міста Києва</p>
                         </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 "> 
                                    <img src="img/sliders/index.png" alt="">
                         </div>  
                        </div>    
                    </div>
                     </section>
                    <!-- END Main Container -->

                    <!-- Напрямки діяльності Container  -->
                          <div class="album py-5 bg-light">
                            <div class="container">
                              <h2>Напрямки діяльності центру</h2>
                              <p>Для дітей з тяжкими порушеннями мовлення у поєднанні з порушеннями інтелектуального розвитку або затримкою психічного розвитку</p>                                
                               <div class="row">                           
                                    <div class="col-md-4"> 
                                  <div class="card mb-4 shadow-sm" style="background: #FFB782;border:none;height: 264px;border-radius: 5px;">
                                    <div class="card-body">
                                    <h2 class="card-title">Спеціальна школа-інтернат</h2>
                                      <p class="card-text">Для дітей віком від 2 до 7 років з особливими освітніми потребами, зумовленими складними порушеннями розвитку.</p>
                                        <a href="#">Детальніше</a>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="card mb-4 shadow-sm" style="background: #DFFF82;border:none;height: 264px;border-radius: 5px;">
                                    <div class="card-body">
                                    <h2 class="card-title">Реабілітаційний центр</h2>
                                      <p class="card-text">Для дітей віком від 2 до 7 років з особливими освітніми потребами, зумовленими складними порушеннями розвитку.</p>
                                        <a href="#" >Детальніше</a>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="card mb-4 shadow-sm" style="background: #FFDF82;border:none;height: 264px;border-radius: 5px;">
                                    <div class="card-body">
                                        <h2 class="card-title">Дошкільний навчальний заклад</h2>
                                      <p class="card-text">Для дітей віком від 2 до 7 років з особливими освітніми потребами, зумовленими складними порушеннями розвитку.</p>
                                        <a href="#">Детальніше</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                    <!-- END Напрямки діяльності Container -->     
                  
                    <!-- Директор Container  -->
                         <div class="album py-5 " style="background: #FFD765;">
                       <div class="container">
                        <div class="row">                         
                         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                             <h1>Місія наної команди — підготувати, наскільки це можливо, особивих дітей до самостійного дорослого життя.</h1>
                             <p><i class=""></i>Звернення Директора</p>
                             <p>Остапенко Лариса Іванівна<br>
Директор закладу</p>
                         </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 "> 
                                    <img src="img/director.png" alt="">
                         </div>  
                        </div>    
                    </div>
                         </div>
                    <!-- END Директор Container -->                  
                  
                  
                    <!-- Підхід до навчання Container  -->
                          <div class="album py-5 bg-light">
                            <div class="container">
                              <h2>Підхід до навчання</h2>
                              <p>Для дітей з тяжкими порушеннями мовлення у поєднанні з порушеннями інтелектуального розвитку або затримкою психічного розвитку</p>
                              <div class="row">
                                <div class="col-md-4">
                                  <div class="card mb-4 shadow-sm" style="border:none;">
                                    <div class="card-body">
                                    <h2 class="card-title">Повага та розуміння </h2>
                                      <p class="card-text">Для дітей з тяжкими порушеннями мовлення у поєднанні з порушеннями інтелектуального розвитку або затримкою психічного розвитку. Для дітей з тяжкими порушеннями мовлення у поєднанні з порушеннями інтелектуального розвитку або затримкою психічного розвитку. Для дітей з тяжкими порушеннями мовлення у поєднанні з порушеннями інтелектуального розвитку або затримкою психічного розвитку.</p>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="card mb-4 shadow-sm" style="border:none;">
                                    <div class="card-body">
                                    <h2 class="card-title">Розвиток навичок</h2>
                                      <p class="card-text">Для дітей з тяжкими порушеннями мовлення у поєднанні з порушеннями інтелектуального розвитку або затримкою психічного розвитку. Для дітей з тяжкими порушеннями мовлення у поєднанні з порушеннями інтелектуального розвитку або затримкою психічного розвитку. Для дітей з тяжкими порушеннями мовлення у поєднанні з порушеннями інтелектуального розвитку або затримкою психічного розвитку.</p>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="card mb-4 shadow-sm" style="border:none;">
                                    <div class="card-body">
                                        <h2 class="card-title">Дошкільний навчальний заклад</h2>
                                      <p class="card-text">Для дітей з тяжкими порушеннями мовлення у поєднанні з порушеннями інтелектуального розвитку або затримкою психічного розвитку. Для дітей з тяжкими порушеннями мовлення у поєднанні з порушеннями інтелектуального розвитку або затримкою психічного розвитку. Для дітей з тяжкими порушеннями мовлення у поєднанні з порушеннями інтелектуального розвитку або затримкою психічного розвитку.</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                    <!-- END Підхід до навчання Container --> 
                  
                    <!-- Викладацький склад Container  -->
                          <div class="album py-5 bg-light">
                            <div class="container">
                              <h2>Викладацький склад</h2>
                              <p>Для дітей з тяжкими порушеннями мовлення у поєднанні з порушеннями інтелектуального розвитку або затримкою психічного розвитку</p>
                              <div class="row">
                            <div class="col-md-3">
                              <div class="card mb-4 shadow-sm" style="border:none;">
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect fill="#55595c" width="100%" height="100%"/><text fill="#eceeef" dy=".3em" x="50%" y="50%">Thumbnail</text></svg>
                                <div class="card-body">
                                <h5 class="card-title">ИМЯ </h5>
                                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="card mb-4 shadow-sm" style="border:none;">
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect fill="#55595c" width="100%" height="100%"/><text fill="#eceeef" dy=".3em" x="50%" y="50%">Thumbnail</text></svg>
                                <div class="card-body">
                                    <h5 class="card-title">ИМЯ </h5>
                                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="card mb-4 shadow-sm" style="border:none;">
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect fill="#55595c" width="100%" height="100%"/><text fill="#eceeef" dy=".3em" x="50%" y="50%">Thumbnail</text></svg>
                                <div class="card-body">
                                    <h5 class="card-title">ИМЯ </h5>
                                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="card mb-4 shadow-sm" style="border:none;">
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect fill="#55595c" width="100%" height="100%"/><text fill="#eceeef" dy=".3em" x="50%" y="50%">Thumbnail</text></svg>
                                <div class="card-body">
                                    <h5 class="card-title">ИМЯ </h5>
                                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                              </div>
                            </div>    
                                  
                                  <button type="button" class="btn btn-outline-primary btn-lg" style="margin:0 auto;botder:none;">Більше</button>
                              </div>
                            </div>
                          </div>
                    <!-- END Викладацький склад Container --> 

                    <!-- Склад реабілітологів Container  -->
                          <div class="album py-5 bg-light">
                            <div class="container">
                              <h2>Склад реабілітологів</h2>
                              <p>Для дітей з тяжкими порушеннями мовлення у поєднанні з порушеннями інтелектуального розвитку або затримкою психічного розвитку</p>
                              <div class="row">
                            <div class="col-md-3">
                              <div class="card mb-4 shadow-sm" style="border:none;">
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect fill="#55595c" width="100%" height="100%"/><text fill="#eceeef" dy=".3em" x="50%" y="50%">Thumbnail</text></svg>
                                <div class="card-body">
                                <h5 class="card-title">ИМЯ </h5>
                                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="card mb-4 shadow-sm" style="border:none;">
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect fill="#55595c" width="100%" height="100%"/><text fill="#eceeef" dy=".3em" x="50%" y="50%">Thumbnail</text></svg>
                                <div class="card-body">
                                    <h5 class="card-title">ИМЯ </h5>
                                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="card mb-4 shadow-sm" style="border:none;">
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect fill="#55595c" width="100%" height="100%"/><text fill="#eceeef" dy=".3em" x="50%" y="50%">Thumbnail</text></svg>
                                <div class="card-body">
                                    <h5 class="card-title">ИМЯ </h5>
                                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="card mb-4 shadow-sm" style="border:none;">
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect fill="#55595c" width="100%" height="100%"/><text fill="#eceeef" dy=".3em" x="50%" y="50%">Thumbnail</text></svg>
                                <div class="card-body">
                                    <h5 class="card-title">ИМЯ </h5>
                                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                              </div>
                            </div>    
                                  
                                  <button type="button" class="btn btn-outline-primary btn-lg" style="margin:0 auto;botder:none;">Більше</button>
                              </div>
                            </div>
                          </div>
                    <!-- END Склад реабілітологів Container --> 
                  
                  <!-- Відгуки батьків Container  -->
                  
                                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                          <li data-target="#myCarousel" data-slide-to="1"></li>
                          <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                         <div class="album py-5 " style="background: #FFD765;">
                       <div class="container">
                           <h2 style="margin-bottom: 50px;">Відгуки батьків</h2>
                        <div class="row">    
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
                                    <img src="img/rew-families.png" alt="">
                         </div>                            
                         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                             <h2 style="font-size: 16px;margin-bottom: 10px;font-weight: 700;">ДЕРЕВ’ЯНКО<br> Олексій</h2>
                             <p style="font-size: 1.5em;font-weight: 400;">У школі працюють фахівці з великим досвідом роботи. До кожного особливій дитині знаходять підхід. Після закінчення школи діток приймають в швейне і взуттєве училище, так як з 5-го класу їх навчають спеціальності обувшіка або швачки або вишивальниць. З дітками працюють логопеди, реабілітологи, дефектологи.<br>
Директор закладу</p>
                         </div>  
                        </div>    
                    </div>
                         </div>
                          </div>
                          <div class="carousel-item">
                         <div class="album py-5 " style="background: #FFD765;">
                       <div class="container">
                           <h2 style="margin-bottom: 50px;">Відгуки батьків</h2>
                        <div class="row">    
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
                                    <img src="img/rew-families.png" alt="">
                         </div>                            
                         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                             <h2 style="font-size: 16px;margin-bottom: 10px;font-weight: 700;">ДЕРЕВ’ЯНКО<br> Олексій</h2>
                             <p style="font-size: 1.5em;font-weight: 400;">У школі працюють фахівці з великим досвідом роботи. До кожного особливій дитині знаходять підхід. Після закінчення школи діток приймають в швейне і взуттєве училище, так як з 5-го класу їх навчають спеціальності обувшіка або швачки або вишивальниць. З дітками працюють логопеди, реабілітологи, дефектологи.<br>
Директор закладу</p>
                         </div>  
                        </div>    
                    </div>
                         </div>
                          </div>
                          <div class="carousel-item">
                         <div class="album py-5 " style="background: #FFD765;">
                       <div class="container">
                           <h2 style="margin-bottom: 50px;">Відгуки батьків</h2>
                        <div class="row">    
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
                                    <img src="img/rew-families.png" alt="">
                         </div>                            
                         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                             <h2 style="font-size: 16px;margin-bottom: 10px;font-weight: 700;">ДЕРЕВ’ЯНКО<br> Олексій</h2>
                             <p style="font-size: 1.5em;font-weight: 400;">У школі працюють фахівці з великим досвідом роботи. До кожного особливій дитині знаходять підхід. Після закінчення школи діток приймають в швейне і взуттєве училище, так як з 5-го класу їх навчають спеціальності обувшіка або швачки або вишивальниць. З дітками працюють логопеди, реабілітологи, дефектологи.<br>
Директор закладу</p>
                         </div>  
                        </div>    
                    </div>
                         </div>
                          </div>
                        </div>
                      </div>
                  <!-- Відгуки батьків Container  -->
  
                    <!-- Документи закладу Container  -->
                          <div class="album py-5 bg-light">
                            <div class="container">
                              <h2>Документи закладу</h2>
                              <p>Для дітей з тяжкими порушеннями мовлення у поєднанні з порушеннями інтелектуального розвитку або затримкою психічного розвитку</p>
                              <div class="row">
                                <div class="col-md-4">
                                  <div class="card mb-4 shadow-sm" style="border:none;">
                                    <div class="card-body">
                                    <i class=""></i>    
                                    <h6 class="card-title">Повага та розуміння </h6>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="card mb-4 shadow-sm" style="border:none;">
                                    <div class="card-body">
                                        <i class=""></i>    
                                    <h6 class="card-title">Розвиток навичок</h6>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="card mb-4 shadow-sm" style="border-top:none;">
                                    <div class="card-body">
                                        <i class=""></i>    
                                        <h6 class="card-title">Дошкільний навчальний заклад</h6>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="card mb-4 shadow-sm" style="border:none;">
                                    <div class="card-body">
                                        <i class=""></i>    
                                    <h6 class="card-title">Повага та розуміння </h6>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="card mb-4 shadow-sm" style="border:none;">
                                    <div class="card-body">
                                        <i class=""></i>    
                                    <h6 class="card-title">Розвиток навичок</h6>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="card mb-4 shadow-sm" style="border:none;">
                                    <div class="card-body">
                                        <i class=""></i>    
                                        <h6 class="card-title">Дошкільний навчальний заклад</h6>
                                    </div>
                                  </div>
                                </div> 
                                  <a href="#">Завантажити всі документи</a>
                              </div>
                            </div>
                          </div>
                    <!-- END Документи закладу Container -->  
                  
                  
                <!-- Запитання та відповіді Container  --> 
             <div class="album py-5 bg-light">
            <div class="container">
               <h2>Запитання та відповіді</h2>
                <p>Для дітей з тяжкими порушеннями мовлення у поєднанні з порушеннями інтелектуального розвитку або затримкою психічного розвитку</p>     
                <div id="accordion">
                <div class="row">  
                 <div class="col-md-6">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Collapsible Group Item #1
                        </button>
                      </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingTwo">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Collapsible Group Item #2
                        </button>
                      </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingThree">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Collapsible Group Item #3
                        </button>
                      </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                    </div>
                 <div class="col-md-6">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Collapsible Group Item #1
                        </button>
                      </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingTwo">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Collapsible Group Item #2
                        </button>
                      </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingThree">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Collapsible Group Item #3
                        </button>
                      </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                    </div>                    
                </div>      
            </div>
        </div>       
    </div>                 
                <!-- END Запитання та відповіді Container -->   
                  
                 </main>

  <!-- FOOTER -->
  <footer class="container">
            <table>
                <tr align="left">
                    <th>Документи центру</th><th>Загальні відомості</th><th>Співпраця</th>
                </tr>
                <tr><td>Статут центру</td><td>Освітні програми</td><td>Спонсорам</td></tr>
                <tr><td>Фінансова звітність</td><td>Територія центру</td><td>Обмін досвідом</td></tr>
                <tr><td>Ручний звіт про діяльність</td><td>Кількість учнів</td></tr>
                <tr><td>Ліцензії та сертифікати</td><td>Проживання у центрі</td></tr>
                <tr><td>Матеріально-технічне забезпечення</td><td>Додаткові послуги</td></tr>
                <tr><td>Результати моніторингу якості освіти</td></tr>
            </table>
        </footer>
     
 </body>
    
    
    <!-- Подключаем jQuery -->
    <script src="js/jquery-3.5.1.min.js"></script>    
    <!-- Подключаем Bootstrap JS -->    
    <script src="js/bootstrap.min.js"></script>
    
</html>